

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
            <b class="navbar-brand">Smart Movies</b>
    </div>
  </nav>
  <div class="jumbotron text-center mb-0">
      <h1>Bem-vindos a Smart Movies!</h1>
      <span class="text-muted">Aqui você encontra o melhor conteúdo de Filmes e Séries!</span>
     
  </div>
  <div class="row no-gutters pt-1">
      <div class="col-sm-6 col-md-6 col-lg-6 pb-1 btn-padding-r">
        <button routerLink="/filmes" type="button" class="btn btn-light btn-block shadow-sm">
            <span class="text-primary">Filmes</span>
        </button>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 btn-padding-l">
        <button routerLink="/series" type="button" class="btn btn-light btn-block shadow-sm ">
            <span class="text-primary">Séries</span>
        </button>
      </div>
  </div>
 
   

<router-outlet></router-outlet>
