<div class="container">
   
    <nav aria-label="Page navigation example" class="mt-1 pt-2">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button class="page-link"><i class="fas fa-chevron-left"></i></button>
          </li>
          <li class="page-item"><span class="page-link disabled text-dark">1</span></li>
          <li class="page-item">
            <a class="page-link" ><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </nav>
    
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 pb-3">
            <div class="card" >
                <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/v9XwEXYWpxt2rpkmFBiQ1zeyKUy.jpg" width="185" height="278"   class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card" >
                <img src="https://image.tmdb.org/t/p/original/hJuDvwzS0SPlsE6MNFOpznQltDZ.jpg"   class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card" >
                <img src="https://image.tmdb.org/t/p/original/pcDc2WJAYGJTTvRSEIpRZwM3Ola.jpg"   class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card" >
                <img src="https://image.tmdb.org/t/p/original/pcDc2WJAYGJTTvRSEIpRZwM3Ola.jpg"   class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

    </div>
</div>
