<div class="jumbotron text-center mb-0">
  <h1>Bem-vindos a Smart Movies!</h1>
  <span class="text-muted">Aqui você encontra o melhor conteúdo de Filmes e Séries!</span>
 
</div>
<div class="row no-gutters pt-1">
  <div class="col-sm-6 col-md-6 col-lg-6 pb-1 btn-padding-r">
    <button routerLink="/filmes" type="button" class="btn btn-light btn-block shadow-sm">
        <span class="text-primary">Filmes</span>
    </button>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 btn-padding-l">
    <button routerLink="/series" type="button" class="btn btn-light btn-block shadow-sm ">
        <span class="text-primary">Séries</span>
    </button>
  </div>
</div>
<div class="container">
    <nav aria-label="Page navigation example" class="mt-1 pt-2">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button class="page-link text-dark"><i class="fas fa-chevron-left"></i></button>
          </li>
          <li class="page-item"><span class="page-link disabled text-dark">1</span></li>
          <li class="page-item">
            <button class="page-link text-dark" ><i class="fas fa-chevron-right"></i></button>
          </li>
        </ul>
      </nav>
    
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 pb-3">
            <div class="card" >
                <img src="" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="mt-1 pt-2">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button class="page-link text-dark"><i class="fas fa-chevron-left"></i></button>
          </li>
          <li class="page-item"><span class="page-link disabled text-dark">1</span></li>
          <li class="page-item">
            <button class="page-link text-dark" ><i class="fas fa-chevron-right"></i></button>
          </li>
        </ul>
      </nav>
</div>

